html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #b7b7b7;
    align-items: center;
}

#dropMenu {
    position: absolute;
    right: 20px;
    top: 50px;
    background-color: #878787;
    padding: 10px 30px;
    display: none;
}

#regWindow, #logWindow{
    position: absolute;
    display: none;

    background-color: #878787;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    padding: 10px 60px;
    padding-top: 50px;
}

#fadeBg { /* sivun tummennus */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(149, 149, 149, 0.677);
    z-index: 2;
}

#errorMessageLog, #errorMessageReg {
    visibility: hidden;
}

#voteContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 700px;
    margin: 20px auto;
}

.addVoteBtn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    z-index: 10;
}

#voteAddWindow {
    display: none;

    position: absolute;
    background-color: #878787;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    padding: 50px 100px;
}

#optionInputs {
    display: flex;
    flex-direction: column;
}

.textButton {
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
}

.delOptionBtn {
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
}

.voteItem {
    background-color: #b7b7b7;
    padding: 20px 50px;
}

.divOptions {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}