html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #b7b7b7;
    align-items: center;
}

.hidden {
    display: none;
}

#dropMenu {
    position: absolute;
    right: 20px;
    top: 50px;
    background-color: #878787;
    padding: 10px 30px;
    display: none;
}

#regWindow, #logWindow{
    position: absolute;
    display: none;

    background-color: #878787;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    padding: 20px 50px;
}

#content { 
    padding: 50%; /* toimii taustana, jota voi klikkaa */
    background-color: transparent;
}

#fadeBg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(149, 149, 149, 0.677);
    z-index: 2;
}